$danger: #eaeaea;
$primary:#fed84c;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $success;
}

ul {
  padding: 0;
}

.cards-flex {

  @media (min-width: 576px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (min-width:768px) {
    width: 47.3%;
  }

  @media (min-width:992px) {
    width: 33.3%;
    
  }
}
